* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New';
}

img {
    display: block;
    margin: 0 auto;
    width: 1920px;
    position: absolute
}

#bear-wall {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 558px;
    left: 879px;
}

#bear-wall:hover {
    background-color: burlywood;
    filter: blur(1rem);
}

#tv {
    width: 53px;
    height: 37px;
    position: absolute;
    top: 708px;
    left: 1076px;
    transform: rotate(-35deg);
}

#tv:hover {
    background-color: gray;
    filter: blur(1rem);
}

#sofa {
    width: 106px;
    height: 37px;
    position: absolute;
    top: 641px;
    left: 875px;
    transform: rotate(-30deg);

}

#sofa:hover {
    background-color: orangered;
    filter: blur(1rem);
}

#bed-pillow {
    width: 51px;
    height: 30px;
    position: absolute;
    top: 437px;
    left: 530px;
    transform: rotate(30deg);
}

#bed-pillow:hover {
    background-color: whitesmoke;
    filter: blur(.7rem);
}

#bedroom-rug {
    width: 71px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 547px;
    left: 480px;
}

#bathroom-mirror {
    width: 30px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 615px;
    left: 240px;
}

#bathroom-mirror:hover {
    background-color: aquamarine;
    filter: blur(.7rem);
}

#bedroom-rug:hover {
    background-color: orangered;
    filter: blur(.7rem);
}

#nightstand {
    width: 35px;
    height: 37px;
    position: absolute;
    top: 376px;
    left: 452px;
}

#nightstand:hover {
    background-color: burlywood;
    filter: blur(.7rem);
}


#microwave {
    width: 35px;
    height: 37px;
    position: absolute;
    top: 373px;
    left: 736px;
    border-radius: 50%;
}

#microwave:hover {
    background-color: whitesmoke;
    filter: blur(.7rem);
}

#blender {
    width: 35px;
    height: 37px;
    position: absolute;
    top: 200px;
    left: 1020px;
    border-radius: 50%;
}

#blender:hover {
    background-color: whitesmoke;
    filter: blur(.7rem);
}

#oven {
    width: 35px;
    height: 37px;
    position: absolute;
    top: 363px;
    left: 992px;
    border-radius: 50%;
}

#oven:hover {
    background-color: whitesmoke;
    filter: blur(.7rem);
}

#washing-machine {
    width: 35px;
    height: 37px;
    position: absolute;
    top: 264px;
    left: 1138px;
    border-radius: 50%;
}

#washing-machine:hover {
    background-color: whitesmoke;
    filter: blur(.7rem);
}

#dryer {
    width: 35px;
    height: 37px;
    position: absolute;
    top: 203px;
    left: 1138px;
    border-radius: 50%;
}

#dryer:hover {
    background-color: whitesmoke;
    filter: blur(.7rem);
}

#livingRoom-radio {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 478px;
    left: 1265px;
    border-radius: 50%;
}

#livingRoom-radio:hover {
    background-color: whitesmoke;
    filter: blur(.7rem);
}

#livingRoom-cup-table {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 608px;
    left: 1362px;
    border-radius: 50%;
}

#livingRoom-cup-table:hover {
    background-color: antiquewhite;
    filter: blur(1rem);
}

#bookshelf-books {
    width: 25px;
    height: 15px;
    position: absolute;
    top: 360px;
    left: 1455px;
    border-radius: 50%;
}

#bookshelf-books:hover {
        background-color: whitesmoke;
        filter: blur(.5rem);
}

#laptop {
    width: 35px;
    height: 25px;
    position: absolute;
    top: 405px;
    left: 1651px;
    border-radius: 50%;
}

#laptop:hover {
    background-color: whitesmoke;
    filter: blur(.5rem);
}

#dialog {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10%;
}

#close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: black;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

#popup-img {
    position: absolute;
    top:20px;
    left: 20px;
    width: auto;
    height: auto;
    margin: -0.5rem;
}

#text-clue {
    display: flex;
    align-items: center;
    margin: 2rem 4rem 0rem 4rem;
    justify-content: center;
    text-align: justify;
}


#dialog::backdrop {
    backdrop-filter: brightness(.5);
}

#title-clue {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
}

#result-popup {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10%;
}

#feedback {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10%;
}

#trophy {
    /* margin: 2.5rem calc(50% - 2.5rem - 20px); */
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 5rem;
}

